<!DOCTYPE html>
<html lang="en">

<head>



    {% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upahar</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <header>
        
        <nav class="nav1">
        
            <div class="left">
    {% if user.is_authenticated %}
        <h6><a href="{% url 'logout' %}">Logout</a></h6>
    {% else %}
        <h6><a href="{% url 'auth' %}">Login and register</a></h6>
    {% endif %}
</div>

           
           
            </div>
            <div class="right">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-whatsapp"></i>
                <i class="fa fa-instagram"></i>
            </div>
        </nav>

        <!--  nav1 sakkyo -->
        <!--  nav2 suru -->
     

      
        <nav class="nav2">
            <div class="nav2-left">
                <h1>Upahar<span>Nepal</span> </h1>
    
            </div>
            <form action="/search/" method="get">
            <div class="between">
                <input type="text" placeholder="Search..." name="search" id="search">
                <button type="submit">Search</button>
            </div>
                 </form>
            <div class="nav2-right">
                <i class="fa fa-phone"></i>+977 9840259838
                <i class="fa fa-envelope"></i>upahar@gmail.com
            </div>
            

            
        </nav>

        <!-- naya nav suru hunxa yaha bata -->
<nav class="nav3">
            <ul>
                <li><a href=""><i class="fa fa-home"></i>Home </a></li>
                <li>
                    <a href="{% url 'product' %}"><i class="fa fa-male"></i> Categories</a>

                  
                </li>
               
               {% for category in categories %}
           <li><a href="{% url 'product' category.id %}"><i class="fa fa-home"></i>{{ category.model_name }}</a></li>
             {% endfor %}

            </ul>
        </nav>

    </header>
  <body>
  
    {% block content %}


   {% endblock %}

</body>


 <footer class="footer">
        <div class="footer-left">
            <i class="fa fa-phone"></i>+977 9840259838
            <i class="fa fa-envelope"></i>upahar@gmail.com
        </div>
        <div class="footer-right">
            <p>&copy; 2024 Upahar Nepal. All rights reserved.</p>
        </div>
    </footer>
