{% extends 'main/base.html' %}

{% block content %}

{% load static %}

<div class="featured">
    <img src="{% static 'images/img.jpg' %}" alt="">
</div>

<div class="latest-products pt-5 pb-0">
    <div class="container-xl">
        <div class="section-tile row">
            <div class="col-md-10 text-center mx-auto">
                <h2>Featured Products</h2>
                <div> </div>
            </div>
        </div>
        
        <div class="latest-products-container">
            {% for product_item in products %}
                <div class="product-card">
                    <div class="product-bg">
                        <div class="product-detail">
                            <div class="text-center">
                                <a href="detail.html">
                                    <img src="{{ product_item.image }}" alt="{{ product_item.name }}">
                                </a>
                            </div>
                            <h4 class="mb-1 fs-5 fw-bold">{{ product_item.name | truncatechars:20 }}</h4>
                            
                            <div class="row pt-2">
                                <div class="col-md-6">
                                    <button class="btn mb-2 fw-bold w-100 btn-danger">Buy Now</button>
                                </div>
                                <div class="col-md-6">
                                    <form action="{% url 'cart_add' product_item.id %}" method="post" id="add-to-cart-form-{{ product_item.id }}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn fw-bold w-100 btn-outline-danger add-to-cart" data-product-id="{{ product_item.id }}">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $('.add-to-cart').click(function(e) {
        e.preventDefault();
        var product_id = $(this).data('product-id');
        
        $.ajax({
            type: 'POST',
            url: '/cart/add/' + product_id,
            dataType: 'json',
            beforeSend: function(xhr, settings) {
                var csrftoken = Cookies.get('csrftoken');
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            },
            success: function(data) {
                // Optionally, update the cart count or show a success message
                console.log('Item added to cart successfully');
            },
            error: function(xhr, textStatus, errorThrown) {
                // Handle errors if any
                console.error('Error adding item to cart:', errorThrown);
            }
        });
    });
});
</script>

{% endblock %}
