{% extends 'main/base.html' %}

{% block content %}

{% load static %}

<div class="featured">
    <img src="{% static 'images/img.jpg' %}" alt="">
</div>

<div class="latest-products pt-5 pb-0">
    <div class="container-xl">
        <div class="section-tile row">
            <div class="col-md-10 text-center mx-auto">
                <h2>Featured Products</h2>
                <div> </div>
                
              
            </div>
        </div>



<div class="latest-products-container">
    {% for product_item in products %}
        <div class="product-card">
            <div class="product-bg">
                <div class="product-detail">
                    <div class="text-center">
                        <a href="detail.html">
                            <img src="{{ product_item.image }}" alt="{{ product_item.name }}">
                        </a>
                    </div>
                    <h4 class="mb-1 fs-5 fw-bold">{{ product_item.name | truncatechars:20 }}</h4>
                    <b class="fs-4 text-danger">{{ product_item.price }}</b>
                    <ul class="mt-0 vgth">
                        <li class="fs-8">
                            <i class="bi text-warning bi-star-fill"></i>
                            <i class="bi text-warning bi-star-fill"></i>
                            <i class="bi text-warning bi-star-fill"></i>
                            <i class="bi text-warning bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </li>
                        <li class="float-end gvi">
                            <i class="bi text-danger bi-heart-fill"></i>
                        </li>
                    </ul>
                    <div class="row pt-2">
                        <div class="col-md-6">
                            <a href="detail.html">
                                <button class="btn mb-2 fw-bold w-100 btn-danger">Buy Now</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn fw-bold w-100 btn-outline-danger">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>




{% endblock %}
