@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600;700&display=swap");

/* Utility Classes */
.bg-primary {
  background-color: #8119f5 !important;
}

.text-primary {
  color: #8119f5;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: #444;
}

a:hover {
  color: #444;
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

/* Text Alignment Classes */
.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

/* Cursor Pointer Class */
.cp {
  cursor: pointer;
}

html, body {
  height: 100%;
  font-family: "Crimson Text", serif;
}

/* Paragraph Styles */
p {
  margin-bottom: 0;
  width: 100%;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

/* Display Class */
.hid {
  display: none;
}

/* Margin Classes */
.top-mar {
  margin-top: 15px;
}

/* Height Class */
.h-100 {
  height: 100%;
}

/* Placeholder Styling */
::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}

/* Container Styles */
.container-fluid {
  padding: 0;
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
  color: #545454;
}

/* Body Styles */
body {
  background-color: #f5f8fc !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #2b2a2a;
  overflow-x: hidden;
}

/* Section Title Styles */
.section-title {
  padding: 30px;
  margin: 0;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .section-title {
    padding: 5px;
  }
}

.section-title h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0;
}

.section-title p {
  max-width: 850px;
  text-align: center;
  float: none;
  margin: auto;
  font-size: 0.9rem;
  margin-top: 6px;
}

.section-title span {
  float: right;
  font-style: italic;
}

/* Inner Title Styles */
.inner-title {
  padding: 20px;
  padding-left: 0;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 0;
  border-bottom: 1px solid #ccccccc4;
  display: block;
  padding-right: 0;
}

.inner-title h2 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #863dd9;
  padding-bottom: 10px;
  margin-bottom: 0;
  width: 300px;
}

.inner-title p {
  width: 100%;
  text-align: center;
}

.inner-title .btn {
  float: right;
  margin-top: -38px;
  font-weight: 600;
  font-size: 0.8rem;
}

/* Page Navigation Styles */
.page-nav {
  background-size: 100%;
  padding: 68px;
  text-align: center;
  background-color: #eaeaea;
}

.page-nav ul {
  float: none;
  margin: auto;
}

@media screen and (max-width: 992px) {
  .page-nav {
    background-size: auto;
  }
}

@media screen and (max-width: 767px) {
  .page-nav {
    padding-top: 200px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 356px) {
  .page-nav {
    padding-top: 200px;
    padding-bottom: 40px;
  }
}

.page-nav h2 {
  font-size: 28px;
  width: 100%;
  font-weight: 700;
  color: #444;
}

@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 26px;
  }
}

.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-size: 0.93rem;
  font-weight: 600;
  color: #444;
}

.page-nav ul li i {
  width: 30px;
  text-align: center;
  color: #444;
}

.page-nav ul li a {
  color: #444;
  font-size: 0.93rem;
  font-weight: 600;
}

/* Button Styles */
.btn-success {
  background-color: #51be78;
  border-color: #51be78;
}

.btn-success:hover {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}

.btn-success:active {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
}

.btn-success:focus {
  background-color: #51be78 !important;
  border-color: #51be78 !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: #8119f5;
  border-color: #8119f5;
}

.btn-primary:hover {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
}

.btn-primary:active {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
}

.btn-primary:focus {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
  box-shadow: none !important;
}

.btn-outline-primary {
  border-color: #8119f5;
  color: #8119f5;
}

.btn-outline-primary:hover {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
}

.btn-outline-primary:active {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
}

.btn-outline-primary:focus {
  background-color: #8119f5 !important;
  border-color: #8119f5 !important;
  box-shadow:
